.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-responsive {
    height: calc(100vh - 150px);
    overflow: hidden;
    overflow-y: auto;
}

.modal-xl {
    width:calc(100vw - 80px) !important;
    max-width:calc(100vw - 80px) !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .table-responsive {
        height: calc(100vh - 150px);
        overflow: auto;
    }
}

@media screen and (max-width: 992px) {
    table, tbody, th, td, tr {
        display: block;
    }
    .table td {
        width: 100% !important;
        display: block !important;
        box-sizing:border-box;
        overflow: hidden;
        height: auto;
    }
    .table thead {
        display: none;
    }
    .table td::before {
        content: attr(data-header);
    }
    .table td span {
        display: block;
        width: calc(100% - 100px);
        text-align: center;
        float: right;
    }
}
    